<%= turbo_stream_from(:turns) %>
<%= turbo_stream_from(:counter) %>


<%= turbo_frame_tag @turn do %>
  <div class="red-div" id="turn-id" data-turn-id="<%= @turn.id %>">
    <div class="counter">
      <span>Turns before you:</span>
      <%= render "counter", { turn: @turn } %>
    </div>
    <div class="turn">Status: <%= @turn.status %></div>
  </div>
<% end %>


